<%- include('includes/htmlHeader', {title: 'Threads'}); %> 
<style>
    .description img {
        width: 100% 
    }
    /* body {
        background: url(http://whitecloak.com/static/media/bg-hack.261b4dc2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } */
</style>
    </head>
<body>

<%- include('includes/loggedInMenu') %>

        
<div class="ui container">   
    <h1>Threads</h1>
    <div style="text-align: right">   
    <a href="/create">
    <button style="background-color: #08123C" class="ui primary button">
        Create New Thread
    </button>
    </a>
    </div>
    
    <div class="ui link items">
       <% threads.forEach(thread => { %>
        <a style="margin-bottom: 36px" class="item" href="/view/<%=thread._id%>">
            <div class="ui tiny image">
            <img src="/images/jenny.jpg">   
            </div>
            <div class="content">
            <div class="header"><%=thread.title%></div>
            <div class="meta">
                <span> <%= moment(thread.createdAt).calendar() %> by <strong style="color: #000"><%=thread.user.username%></strong></span>
            </div>
            <div class="description">
                <img src="/images/short-paragraph.png" />
            </div>
            </div>
        </a>
       <% }) %>
    </div>
</div>



      
<%- include('includes/htmlFooter'); %>
