<%- include('includes/htmlHeader', {title: 'View Thread'}); %> 
    </head>
<body>

<div class="ui container">   
    <a href="/threadlist">< Back to threads</a>
    <br />
    <% if(thread.user._id.equals(user._id)) { %>
        <a href="/view/<%=thread._id%>/edit">
            <button class="ui button">
                Edit Thread
            </button>
        </a>
        <a href="/view/<%=thread._id%>/delete">
            <button class="ui red button">
                Delete Thread
            </button>
        </a>
    <% } %>
    <h1><%=thread.title%></h1>   
    <p><%=moment(thread.createdAt).calendar()%></p>

    <div class="ui large comments">
        <h3 class="ui dividing header">Comments</h3>
        
        <% thread.comments.forEach(comment =>{  %>
             <div class="comment">
            <a class="avatar">
            <img src="/images/jenny.jpg">
            </a>
            <div class="content">
               
                <% if(comment.user._id.equals(user._id)) { %>
                    <a class="author" style="color: #2185d0">
                        You
                    </a>
                <% } else { %>
                    <a class="author">
                        <%=comment.user.username%>
                    </a>
                <% } %>
               
                <div class="metadata">
                    <span class="date"><%=moment(comment.createdAt).calendar()%></span>
                </div>
                <div class="text">
                    <%=comment.body%>   
                </div>
                <div class="actions">
                    <% if(comment.user._id.equals(user._id)) { %>
                        <a href="/view/<%=thread._id%>/comments/<%=comment._id%>"
                             style="color: #db2828">Delete</a>
                    <% } %> 
                </div>
            </div>  
        </div>
        <% }) %>
        <div class="ui form">
            <form method="POST" action="/view/<%=thread.id%>/comments">
                <div class="field">
                    <label>Comment</label>
                    <textarea required rows="2" name="body"></textarea>
                </div>
                <button style="background-color: #08123C" class="ui primary button" type="submit">Post Comment</button>
            </form>
        </div>

    </div>
</div>
      
<%- include('includes/htmlFooter'); %>
