<%- include('includes/htmlHeader', {title: 'View Thread'}); %> 
    </head>
<body>

<div class="ui container">   
    <a href="/threadlist">< Back to threads</a>
    <br />
    <% if(isByUser === true) { %>
        <a href="/view/<%=thread._id%>/edit">
            <button class="ui button">
                Edit Thread
            </button>
        </a>
        <a href="/view/<%=thread._id%>/delete">
            <button class="ui red button">
                Delete Thread
            </button>
        </a>
    <% } %>
    <h1><%=thread.title%></h1>   
    <p><%=moment(thread.createdAt).calendar()%></p>
</div>



      
<%- include('includes/htmlFooter'); %>
