<%- include('includes/htmlHeader', {title: 'View Thread'}); %> 
    <style>
    .description img {
        width: 100% 
    }
    </style>
    </head>
<body>
    
<%- include('includes/loggedInMenu') %>


<div class="ui container">   
    <a href="/threadlist">< Back to threads</a>
    <br />
    <div style="text-align: right">   
    <% if(thread.user._id.equals(user._id)) { %>
        <a href="/view/<%=thread._id%>/edit">
            <button class="ui button">
                Edit Thread
            </button>
        </a>
        <a href="/view/<%=thread._id%>/delete">
            <button class="ui red button">
                Delete Thread
            </button>
        </a>
    <% } %>
    </div>
    <div class="ui link items">
 
        <div class="content">
        <div class="header">
            <h1 style="font-size: 4em"><%=thread.title%></h1>    
        </div>
        <div class="meta">
            <span style="font-size: 1.2em"> <%= moment(thread.createdAt).calendar() %> by 
                <strong style="color: #000">

                    <% if(thread.user._id.equals(user._id)) { %>
                        You
                    <% } else { %>
                        <%=thread.user.username%>
                    <% } %>
                
                </strong></span>
        </div>
        <br />
            <% if(thread.image) { %>
                <img style="width: 100%" src="/images/<%=thread.image%>">
            <% } %>
        <br />
        <br />
        <div class="description">
            <img src="/images/short-paragraph.png" />
        </div>
        <br />
        </div>
  
    </div>

    <div style="max-width: 100%" class="ui large comments">
        <h3 class="ui dividing header">Comments</h3>
        
        <% thread.comments.forEach(comment =>{  %>
             <div class="comment">
            <a class="avatar">
            <img src="/images/jenny.jpg">
            </a>
            <div class="content">
               
                <% if(comment.user._id.equals(user._id)) { %>
                    <a class="author" style="color: #2185d0">
                        You
                    </a>
                <% } else { %>
                    <a class="author">
                        <%=comment.user.username%>
                    </a>
                <% } %>
               
                <div class="metadata">
                    <span class="date"><%=moment(comment.createdAt).calendar()%></span>
                </div>
                <div class="text">
                    <%=comment.body%>   
                </div>
                <div class="actions">
                    <% if(comment.user._id.equals(user._id)) { %>
                        <a href="/view/<%=thread._id%>/comments/<%=comment._id%>"
                             style="color: #db2828">Delete</a>
                    <% } %> 
                </div>
            </div>  
        </div>
        <% }) %>
        <div class="ui form">
            <form method="POST" action="/view/<%=thread.id%>/comments">
                <div class="field">
                    <br />
                    <textarea required rows="2" name="body"></textarea>
                </div>
                <div style="text-align: right">   
                <button style="background-color: #08123C" class="ui primary button" type="submit">Post Comment</button>
                </div>
            </form>
        </div>
        <br />
    </div>
</div>
      
<%- include('includes/htmlFooter'); %>
