<%- include('includes/htmlHeader', {title: 'View Thread'}); %> 
    </head>
<body>

<div class="ui container">   
    <a href="/threadlist">< Back to threads</a>
    <br />
    <% if(isByUser === true) { %>
        <a href="/view/<%=thread._id%>/edit">
            <button class="ui button">
                Edit Thread
            </button>
        </a>
        <a href="/view/<%=thread._id%>/delete">
            <button class="ui red button">
                Delete Thread
            </button>
        </a>
    <% } %>
    <h1><%=thread.title%></h1>   
    <p><%=moment(thread.createdAt).calendar()%></p>

    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        
        <% thread.comments.forEach(comment =>{  %>
             <div class="comment">
            <a class="avatar">
            <img src="/images/jenny.jpg">
            </a>
            <div class="content">
                <a class="author"><%=comment.user.username%></a>
                <div class="metadata">
                    <span class="date"><%=moment(comment.createdAt).calendar()%></span>
                </div>
                <div class="text">
                    <%=comment.body%>   
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>  
        </div>
        <% }) %>
       

        <div class="ui form">
            <form method="POST" action="/view/<%=thread.id%>/comments">
                <div class="field">
                    <label>Comment</label>
                    <textarea required rows="2" name="body"></textarea>
                </div>
                <button class="ui blue button" type="submit">Post Comment</button>
            </form>
        </div>

    </div>
</div>



      
<%- include('includes/htmlFooter'); %>
